@font-face {
    font-family: 'wurmics_bravuraregular';
    src: url('wurmics_bravura.woff2') format('woff2'),
         url('wurmics_bravura.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('montserratalternates-regular.woff2') format('woff2'),
         url('montserratalternates-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body
{
    font-family: 'montserrat_alternatesregular';
    font-weight: bold;
}
.bloc_page
{
    min-width: 769px;
	margin:auto;
}
header, footer
{
    background-color:#f3e9f1;
    padding-bottom: 20px;
}
.top_bar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:10px;
    background:linear-gradient(#cb7c51,#f3e9f1);
}
.cart, .account
{
    font-size: 25px;
    margin-right:15px;
    color:#7948d8;
    cursor: pointer;
}
.img_logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    width: 240px;
    height: auto;
}
h1
{
    text-align: center;
    font-family: 'wurmics_bravuraregular';
    font-size: 45px;
    text-decoration: underline;
}
h2
{
    color:black;
    text-align:center;
    font-size: 15px;
}
h3
{
    margin-left:10px;
    margin-right: 10px;
}
.image_produit
{
    margin:10px;
}
.image_produit:hover
{
    transform:none;
}
.container
{
    border: dotted 5px #dededa;
    text-align: center;
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: row;
    background-color:#f3e9f1;
    position: relative;
    margin:30px auto 30px auto;
}
.container:hover
{
    background-color:#f3e9f1;
}
.info_produit
{
    position: relative;
    font-size: 17px;
    text-align: justify;
    padding:0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}
#alerte
{
    color:red;
}
.price
{
    font-size: 25px;
    font-weight: bolder;
}
.colorMenu
{
    font-size: 15px;
    border: solid 2px #c37865;
    font-family: 'montserrat_alternatesregular';
    padding: 7px;
}
.quantite
{
    margin-top:5px;
    padding: 2px;
    width: 10%;
}

button
{
    font-family: 'montserrat_alternatesregular';
    background-color: white;
    font-size: 17px;
    padding: 10px 15px;
    border: solid 2px #c37865;
    box-shadow: 5px 3px 5px #8a8a8a;
    cursor: pointer;
    position: absolute;
    bottom:15px;
    left:21px;
}
button:hover
{
    transform: scale(1.05);
    transition: all 200ms;
    font-weight: bold;
    box-shadow: 5px 3px 5px #252525;
}
.menu_footer
{
    display: flex;
    justify-content: center;
    font-size: 12px;
}




@media screen and (max-width: 1200px)
{
    .bloc_page{
        max-width: 1200px;
    }
    .peluche
{
    border: dotted 5px #dededa;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin:30px auto 30px auto;
    background-color:#f3e9f1;
}
    .container
{
    border: dotted 5px #dededa;
    text-align: center;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:#f3e9f1;
    position: relative;
    margin:30px auto 30px auto;
}
    .container:hover
{
    background-color:#f3e9f1;
}
    .info_produit
{
    font-size: 17px;
    text-align: center;
    padding:0px 20px 0px 20px;
}
    .color
{
    justify-content: center;
}
    button
{
    font-family: 'montserrat_alternatesregular';
    background-color: white;
    font-size: 17px;
    padding: 10px 15px;
    border: solid 2px #c37865;
    box-shadow: 5px 3px 5px #8a8a8a;
    cursor: pointer;
    position: relative;
    margin-top:30px;
}
    .image_produit
{
    width: 100%;
    position: relative;
    margin:0px;
}
    .colorMenu
{
    width: 30%;
    margin: auto;
}
    .quantite
{
    margin:auto;
    margin-top:10px;
    border:1px solid grey;
}
    button{
    margin:auto;
    margin-top:45px;
    left:0;
}
    .menu_footer
{
    flex-direction: column;
    text-align: center;
}
}
