.bloc_page
{
    max-width: 1200px;
}
.peluche
{
    border: dotted 5px #dededa;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin:30px auto 30px auto;
    background-color:#f3e9f1;
}
.container
{
    border: dotted 5px #dededa;
    text-align: center;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:#f3e9f1;
    position: relative;
    margin:30px auto 30px auto;
}
.container:hover
{
    background-color:#f3e9f1;
}
.info_produit
{
    font-size: 17px;
    text-align: center;
    padding:0px 20px 0px 20px;
}
.color
{
    justify-content: center;
}
button
{
    font-family: 'montserrat_alternatesregular';
    background-color: white;
    font-size: 17px;
    padding: 10px 15px;
    border: solid 2px #c37865;
    box-shadow: 5px 3px 5px #8a8a8a;
    cursor: pointer;
    position: relative;
    margin-top:30px;
}
.image_produit
{
    width: 100%;
    position: relative;
    margin:0px;
}
.colorMenu
{
    width: 30%;
    margin: auto;
}
.quantité
{
    margin:auto;
    margin-top:10px;
    border:1px solid grey;
}
button{
    margin:auto;
    margin-top:45px;
    left:0;
}
.menu_footer
{
    flex-direction: column;
    text-align: center;
}

